.maincontainer {
  display: flex;
  flex-direction: row;
  background-color: lavender;
  min-height: 90vh;
}

.sidebar {
  background-color: lightyellow;
  flex-grow: 1;
}

.main {
  background-color: lightpink;
  flex-grow: 5;
}

.nav {
  background-color: lightblue;
  height: 10vh;
}
