<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Calories</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of food">
      <td>{{ p.name }}</td>
      <td>{{ p.price | currency }}</td>
      <td>{{ p.calories }}</td>
      <td>
        <button mat-raised-button (click)="selectFood(p)">
          <span class="material-icons"> edit </span>
        </button>
        <button mat-raised-button (click)="deleteFood(p)" color="warn">
          <span class="material-icons"> delete </span>
        </button>
        <!--app-dialog></app-dialog-->
      </td>
    </tr>
  </tbody>
</table>
<!--table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table-->
