.edit-form {
  padding: 10px;
  margin-bottom: 10px;
}

.edit-row {
  margin: 10px 0;
}

.edit-form label {
  width: 60px;
  margin-right: 10px;
  display: inline-block;
}

.mat-form-field-flex {
  background-color: white;
}

button {
  font-size: 1rem;
  margin-right: 0.75rem;
}

.mat-error {
  font-size: 0.8rem;
  margin-top: -18px;
}
