.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.navItem {
  margin-left: 2rem;
  font-weight: normal;
}

.main-menu {
  display: flex;
}

.main-menu a {
  color: black;
  text-decoration: none;
}

.main-menu a:hover {
  color: black;
  text-decoration: underline;
}
